streamlit
youtube-transcript-api
nltk
scikit-learn
transformers
textblob
numpy
tensorflow
tf-keras
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langchain-openai==0.0.5
openai==1.10.0
python-dotenv
pytube